#################################################################
[build]
#################################################################
  base = "/"
  publish = "public/"
  command = "npm run build"

[[plugins]]
  # Installs the Lighthouse Build Plugin for all deploy contexts
  package = "@netlify/plugin-lighthouse"

#################################################################
# context: all deploys from the branch
#################################################################

[context.production]
  publish = "public/prd/"
  command = "npm run build"
  environment = { NODE_VERSION = "14.16.0" }

[context.dev]
  publish = "public/dev/"
  command = "npm run build"
  environment = { NODE_VERSION = "14.16.0" }

#################################################################
# functions directory
#################################################################

[functions]
  # Directory with serverless functions, including background
  # functions, to deploy. This is an absolute path relative to the 
  # base directory, which is the root by default (/).
  directory = "/"
